.App {
  padding-left: 12rem;
  padding-right: 12rem;
}

.styling-for-container {
  width: 750px;
  height: 900px;
  padding: 50px;
  margin: auto;
  border: 1px solid #ddd;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}
.padding {
  padding: 2rem;
}

.styling-for-header {
  padding: 2rem;
  text-align: center;
}

.styling-for-tab {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.styling-for-scrollmenu {
  height: 8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 100%;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: 0.12em;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}
